<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="src/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
	<div id="mainContainer">
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
			<div class="container px-4">
				<a class="navbar-brand" href="/javas"><img
					src="src/javaslogo.png" height="35"></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item"><a class="nav-link" href="product">소개하기</a></li>
						<li class="nav-item"><a class="nav-link"
							href="https://discord.com/api/oauth2/authorize?client_id=1196635535674970216&permissions=8&scope=bot">초대하기</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							href="information">설정방법</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
        <!-- Header-->
        <header class="bg-primary">
            <div style="opacity: 1; transform: none;">
                <div class="css-koonl5">
                    <div class="css-1l4w6pd">
                        <img src="src/Img/javaslogo.png" width="500px" height="140px" class="chakra-image css-r2c64f">
                        <p class="check1-1">안녕하세요, 저희는 자바스입니다</p>
                    </div>
            </div>

            <section class="section1" id="about">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                            <!-- About -->
                            <h1 class="fw-bolder">About</h1>
                            <p class="lead">
                            <ul class="lead">
                                <li style="font-weight: bolder; font-size: large;">디지털 환경이 일상에 자리잡고, 대량의 데이터가 생성, 공유되는
                                    오늘날에는
                                    데이터를 보호하는 것은 중요합니다.</li><br>
                                <li style="font-weight: bolder; font-size: large;">해킹, 악성 코드, 랜섬웨어 등 다양한 공격으로부터, 사용자들은
                                    개인정보가
                                    안전하게 보호된 서비스를 요구하고 있습니다.</li><br>
                                <li style="font-weight: bolder; font-size: large;">Javas는 Chat Gpt를 활용한 디스코드 봇으로, 사이버
                                    공격을
                                    탐지하고 대응하는 능력을 갖추고 있습니다.</li><br>
                            </ul>
                            </p><br><br>

                            <!-- Service -->
                            <h1 class="fw-bolder">Service</h1>
                            <p class="lead">
                            <ul class="lead">
                                <li style="font-weight: bolder; font-size: large;">디스코드 봇으로 url을 검사하여 분석하고, 악성 url일 경우 해당
                                    url의 클릭을 방지합니다.</li><br>
                                <li style="font-weight: bolder; font-size: large;">디스코드 봇에 등록된 명령어를 통해서 간단한 기능들을 사용할 수 있습니다.</li><br>
                            </ul>
                            </p><br><br>

                            <!-- Project -->
                            <h1 class="fw-bolder">Project</h1>
                            <p class="lead">
                            <ul class="lead">
                                <li style="font-weight: bolder; font-size: large;">Javas는 AI 모델을 통해 url을 검사하여 분석하고, 악성 url을
                                사용자에게 알려줍니다.</li><br>
                                <li style="font-weight: bolder; font-size: large;">디스코드 봇에 등록된 명령어를 통해서 간단한 기능들을 사용할 수
                                    있습니다.</li><br>
                                <li style="font-weight: bolder; font-size: large;"><b>! 소개 :</b> Javas 소개 페이지로 이동합니다.</li><br>
                                <li style="font-weight: bolder; font-size: large;"><b>! 악성코드명 :</b> Chat-GPT를 통해 악성 코드의 정보를 불러옵니다.</li>
                                <br>
                                    
                                <li>
                                    <img src="src\Icon\icon1.svg">
                                    <img src="src\Icon\icon2.svg">
                                    <img src="src\Icon\icon3.svg">
                                    <img src="src\Icon\icon4.svg">
                                    <img src="src\Icon\icon5.svg">
                                    <img src="src\Icon\icon6.svg">
                                    <img src="src\Icon\icon7.svg">
                                    <img src="src\Icon\icon8.svg">
                                    <img src="src\Icon\icon9.svg">
                                    <img src="src\Icon\icon10.svg">
                                </li>
                            </ul>
                            </p><br><br>

                            <!-- Service -->
                            <h1 class="fw-bolder">Contact</h1>
                            <p class="lead">
                            <ul class="lead">
                                <li style="font-weight: bolder; font-size: large;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#02A1F1"
                                    viewBox="0 0 512 512">
                                    <path
                                        d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
                                </svg>
                                &nbsp&nbspjavas@gmail.com</li><br>
                            </ul>
                            </p><br><br>
                        </div>
                    </div>
                </div>
            </section>
    <!-- Footer-->
    <hr>

    <section id="bottom">
        <div class="botbox">
            <p class="check5">Copyright &copy; Javas<br>Designed by Freepik</p>
        </div>
</body>

</html>